Unable to extract token since FB recent update v2.3 #4

Version: :spring-security-oauth:2.0.2
Plugin: :spring-security-oauth-facebook:0.2

Facebook has updated their response format and the token returned is not able to be extracted. It looks like the exception is thrown here: [TokenExtractor20Impl](https://github.com/dsyer/scribe-java/blob/master/src/main/java/org/scribe/extractors/TokenExtractor20Impl.java#L33)

Facebook update v2.3 update [here](https://developers.facebook.com/docs/apps/changelog) 
> [Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {"access_token": {TOKEN}, "token_type":{TYPE}, "expires_in":{TIME}}. We made this update to be compliant with section 5.1 of RFC 6749.





